tags
**/minpac
stow/fish/.config/fish/conf.d/
stow/fish/.config/fish/completions/
stow/fish/.config/fish/functions/
stow/fish/.config/fish/fish_variables
!stow/fish/.config/fish/functions/fish_greeting.fish
!stow/fish/.config/fish/functions/fish_prompt.fish
