[push]
    default = simple
[pull]
    rebase = true
[user]
    email = yuuki@protonmail.com
    name = Florian Beeres
[github]
    user = yuuki@protonmail.com
[core]
    editor = nvim
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
